.section__title{
    .small-title{
        font-size: 18px;
        font-family: 'Somar',sans-serif;
        
    }
    .big-title{
        font-size: 35px;
        font-family: 'Somar',sans-serif;
        font-weight: bold;
    }
}
.ubdate-title-secion {
    text-align: right;
    margin-right: 50px;
}